
<!DOCTYPE html>
<html lang="fa-ir" dir="rtl" ng-app>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

 <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- jQuery library -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<link rel="shortcut icon" type="text/css" href="css/online-guys.png">
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.css">
	

<link href="script.js" rel="javascript" type="text/javascript">
<link href="css/footer-distributed-with-search.css" rel="stylesheet">
<link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container-fluid header-b">
<div class="navbar-header logo-b">
<div class="navbar-brand"><img src="css/online-guys.png" class="img-circle logo"></div>
</div>
<ul class="nav navbar-nav nav-b">
	<li><a href="#">messenger</a></li>
	<li><a href="#">بلاگ</a></li>
	<li class="active bg-info" ><a href="#" >خانه</a></li>
</ul>
	
</div>
		<p><h2>مقدمه</h2>
<h4 class="introduction">در جهان امروز احتیاج به برقرای ارتباط از سمت عموم مردم است و اینکه چه بهتر که این ارتباطات با صرف کمترین هزینه انجام شود که معمولا این بستر را یک رنم افزار پیام رسان می تواند ایجاد نماید .
بهتر آن است که این پیام رسان یک پیام رسان بومی و بخصوص ایرانی باشد که این مهم با استفاده از نرم افزار "XTE" ممکن است که این نرم افزار کاملا بومی می باشد واینکه شما می توانید آن را در تمامی دستگاه ها با انواع پلت فرم ها تجربه کنید که وب آن هم این امکان را در اختیار شما قرار می دهد.
</h4>
	<section class="container-fluid">
		
		

</p>
	</section>






	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	




<script src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/angular-1.5.8/angular.min.js"></script>



<h3 class="wrting">{{hello}}</h3>
<footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">خانه</a>
					·
					<a href="#">بلاگ</a>
					·
					<a href="#">درباره ما</a>
					·
					<a href="#">سرویس پیام رسان</a>
					·
					<a href="#">ارتباط با ما</a>
				</p>

				<p class="footer-company-name">XTE &copy; 2016</p>

			</div>

			<div class="footer-right">

				<form method="get" action="#">
				<div ng-init="hello"></div>
					<input placeholder="جستجو در سایت ما" name="search" ng-model="hello" class="search-f"/>
					
				
					<i class="fa fa-search"></i>
				</form>

			</div>

		</footer>

</body>
</html>