
<!-- 
<md-content class="md-padding" style="text-align:center">
	<h1 class="md-display-2"><img src="xte-dark.png" class="xte" style="width:10%;height:10%;"></h1>
	
</md-content>
-->
<br><br><br><br><br><br><br><br><br><br>

<div class="md-display-1 our-group" title="going to our messenger"> XTE</div>
<br><br><br><br>
<style type="text/css">@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';</style>
<div layout="column" layout-align="center center">
	<md-toolbar  style="background-color:white;"  class="basic"  >
		<md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
			<label for='fullname'class="fullname2">Full name</label>
			<input id='fullname' style="color:#595959;"  md-maxlength="17" type="Name" name="userName" ng-model="project.userName"
			minlength="2" maxlength="17" class="name"  />

			<div ng-messages="projectForm.userName.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">


				</div>

			</div>

		</md-input-container>
	              <!--  <md-input-container class="md-block">
	                 <label>Comments</label>
	                 <input md-maxlength="4096" required name="" ng-model="project.comments">
	                 <div ng-messages="projectForm.comments.$error">
	                    <div ng-message="required">This is required.</div>
	                    <div ng-message="md-maxlength">The comments has to be less than 300 characters long.</div>
	                </div> -->
	            </md-input-container> 





	        </md-toolbar>
	        <div class="button-mes"><md-button class="md-raised md-primary button-messenger " style="">login</md-button></div>
	    </div>
	<!-- 
	        <div class="flexbox-parent">
	  <div layout="row" layout-align="center bottom"  style="min-height: 500px">
	   <div flex="15">First line</div>
	   <br>
	   <div flex="15">Second line</div>
	  </div>
	</div> -->
























