body{ background:#e6e6e6 center bottom ;background-repeat: no-repeat;background-size:;background-position: center center }
.b{background-color:#ff8000;text-align:center;}
.f{background-color:#404040;color: #f2f2f2;text-align:center;}
.g{width:1px;height:1px}
#header{height:100%;background-color:#292C2F}
.header-b{background-color:#cbcbcb}
.h1{}
.h2{}
.h3{}


.logo{width:200%;height:200%;margin-top:-20%;}
.logo:hover{border: 2px #a3c2c2 solid;transition:0.5s;}
.logo-b{float:right;}
.nav-b{float:right;}
.nav-b-c{background-color:#292C2F }
.footer{sheight:50%;}
.footer-a{float:left;}
.introduction{text-align:justify;color:#000;}
.writing{color:white;mrgin-top:10%;}
.search-f{}
.search-f:hover{border:1px #032cbf solid;
transition: 1.5s;
}